<h1 class="display-4">Articles</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% articles.forEach(function(article){ %>
    <tr>
      <!-- <td><%= article.id %></td> -->
      <td><%= article.title %></td>
      <td><%= article.body %></td>

      <td>
        <form class="d-inline" action="/articles/delete/" method="post">
          <input type="hidden" name="_csrf" value="<%- _csrf %>" />
          <input type="hidden" name="num" value="<%= article.id %>" />
          <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
        <!-- <a href="/articles/edit/" class="btn btn-primary">Edit</a> -->
      </td>
    </tr>
    <% }) %>
    <tr>
        <a href="/articles/add" class="btn btn-primary">Add</a>
      <form class="d-inline" action="/articles/deleteAll/">
        <input type="submit" value="Delete All" class="btn btn-danger" />
      </form>
    </tr>
  </tbody>
</table>
